* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('image/clear.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    overflow: hidden;
}

img {
    width: 48px;
    height: 48px;
}

header h1 {
    margin-top: 100px;
    font-size: 3rem;
    text-align: center;
    color: white;
    font-weight: 900;
    text-shadow: 3px 3px 3px black;
}

.main-app {
    width: 50vh;
    height: 42.2vh;
    margin: 100px auto;
    background-color: rgb(240, 248, 250, 0.6);
    padding: 20px;
    text-align: center;
    opacity: 0.5;
}

.main-app>* {
    margin-bottom: 20px;
}


::placeholder {
    font-weight: 700;
}

input[type=text] {
    font-weight: 600;
}

.temp {
    font-size: 30px;
}

.input-box {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
}

.main-weather {
    color: rgb(0, 0, 0);
    font-weight: 900;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    padding: 20px;
    line-height: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    height: 280px;

}

.location {
    font-weight: bold;
}

.city {
    font-size: 35px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgb(85, 16, 16);

}

.weather-status {
    padding: 20px;
}

.temp {
    font-size: 50pt;
    font-weight: 700;
    margin: 20px 0;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.weather {
    font-size: 12pt;
    font-weight: 600;
}

img:hover {
   filter: brightness(250%);
}

.temp:hover {
    filter: brightness(150%);
}